{
  "presets": ["@babel/env"],
  "plugins": [
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "libraryDirectory": "lib", // default: lib
    //     "style": true
    //   }
    // ]
  ]
}
